@import url(https://fonts.googleapis.com/css?family=Allerta);
@font-face{ 
	font-family: 'bellota';
	src: url('bellota.eot');
	src: url('bellota.eot?iefix') format('eot'),
	     url('bellota.woff') format('woff'),
	     url('bellota.ttf') format('truetype'),
	     url('bellota.svg#webfont') format('svg');
}
/*min font size is 16px 1em=16px*/
*,
*:before,
*:after {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #000;
	font-family: Helvetica;
	font-size: 16px;
	color: #FFF;
}

nav {
	margin: auto;
}

header {
	text-align: center;
	padding:0 200px;
}

main {
	padding:50px 0;
}


p {
	font-size: 1em;
	line-height: 1.25em;
}

section {
	text-align: center;
/*	padding-left: 20%;*/
	font-size: 1em;
/*	margin: 1em auto;*/
}

h2 {
	padding: 1px auto;
}

/*aside {
	float: right;
}*/

/*footer {
	background-color: #cccccc;
	padding: 10px;
	text-align: center;
}*/

.navlinks {
	text-align: center;
	font-family: 'bellota', 'Allerta', sans-serif;
	color: #fff;
	font-size: .75em;
	padding: 20px;
	margin: 0 20px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 1px;
}

.adventures {
	background-color: #fff;
	/*background-image: url(../images/yos_clouds.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	padding: 500px 0;
	color: #000;
}

.inner-containter {

}

.advhead {

}

.category {

}

.title {
	border-bottom: 4 px solid black;
	display: inline-block;
	/*not working?*/

}

.meta {

}

.excerpt {

}

.featured-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


}

.read-more {

}

.read-more-btn {

}

/*#lander {
}*/

#logo {
	height: 75%;
	width: 75%;
	margin: 0 auto;
}

#little {
	padding-top: 2%;
	padding-bottom: .5%;
	font-size: 150%;
}
#slogan {
	font-weight:bold;
	border-bottom: 1px solid white;
	width: 200px;
	margin: 0 auto;
	padding: 20px;
}

