*,
*:before,
*:after {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	text-align: center;
	color: #fff
	font-family: Helvetica;
	background-image: url(../images/20160326_151249.jpg);
	background-size: cover;
}